/* Container chính của mỗi sản phẩm */
.product-card {
  width: 260px;
  background-color: var(--color-background);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Hình ảnh sản phẩm */
.product-image-card {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 1px solid var(--color-border);
}

/* Phần thông tin chi tiết */
.product-details-card {
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-name-card {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-text);
  margin: 0;
  text-align: center;
}

.product-price-card {
  font-size: 14px;
  color: var(--color-secondary);
  text-align: center;
  font-weight: bold;
  margin: 0;
}

/* Nút hành động */
.add-to-cart-btn-card,
.view-details-btn-card {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.add-to-cart-btn-card {
  background-color: var(--color-secondary);
  color: white;
}

.add-to-cart-btn-card:hover {
  background-color: var(--color-accent);
  transform: scale(1.02);
}

.view-details-btn-card {
  background-color: var(--color-primary);
  color: white;
}

.view-details-btn-card:hover {
  background-color: var(--color-accent);
  transform: scale(1.02);
}

/* Hiệu ứng khi các nút bấm */
.add-to-cart-btn-card:focus,
.view-details-btn-card:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 144, 208, 0.2);
}
